html {
    font-size: 1em;
  }

body {
    font-family: 'Lekton', sans-serif;
    font-size: 1em;
    text-align: center;
   }

ul {
    list-style: none;
   }
  
a {
    Color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 1.2rem;
    }

a:hover {
    color: rgba(57, 71, 57, 0.863);
  }

p {
    font-family: 'Lekton', sans-serif;
    font-size: 0.875em;
    line-height: 1.285em;
  }

  #scroll-button {
    display: none;
    position: fixed;
    bottom: 2.75em;
    right: 2.75%;
    z-index: 9999;
    border: 2px solid #405570d2;
    outline: none;
    background-color: rgba(247, 243, 244, 0.65);
    color: #405570d2;
    cursor: pointer;
    padding: 20px 25px 20px 25px;
    border-radius: 50%;
    font-size: 1em;
}

#scroll-button:hover {
    background-color: rgb(255, 255, 255);
}
   


  /* ---------------Base Header-Footer Styles---------------- */

header {
  padding: 15px 0;
  background-image: url('../img/header-bkg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-flow: row wrap;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
}

nav a {
  color: rgb(255, 255, 255);
}
nav a:hover {
  color: rgba(57, 71, 57, 0.863);
  border-bottom: rgba(57, 71, 57, 0.863);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: 600;
}

.burger-menu {
  color: #405570d2;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-flow: row wrap;
  text-align: center;
  background-image: url('../img/cloud-footer.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}

footer h2 {
  font-family: 'Lexend Tera', sans-serif;    
  font-size: 1.675rem;
  padding: 18px;
  text-transform: uppercase;
  color: #405570ec;
  width: 100%;
}

footer .content-wrapper {
  width: 50%;
  margin: 50px 0;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

footer .social-icons p i {
  font-size: 2em;
  font-weight: 500;
}

footer .creator-cred {
  margin: 20px 0;
  color: #1d2632;
  font-weight: 800;
  font-size: 1.1rem;
}

footer .creator-cred span {
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
}

/*** Hero section ***/

#hero {
  width: 100%;
}

.hero-text span {
  font-size: 1.875rem;
  font-weight: 800;
  color: rgb(202, 206, 202);
}

.hero-text {
  text-align: left;
  width: 25rem;
  border: 1px solid #405570d2;
  padding: 0.625rem;
  background-color: #405570d2;
  border-radius: 15px;
  font-weight: 600;
  color: rgb(202, 206, 202);
}

#hero .content-wrapper {
  width: 100%;
}

#hero .half-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text span {
  font-size: 1.875rem;
  font-weight: 800;
  color: rgb(202, 206, 202);
}

.hero-text {
  text-align: left;
  width: 25rem;
  border: 1px solid #405570d2;
  padding: 0.625rem;
  background-color: #405570d2;
  border-radius: 15px;
  font-weight: 600;
  color: rgb(202, 206, 202);
}

#frontend-logo {
  border-radius: 15px;
}

#hero img {
  border-radius: 50% !important;
  object-fit: cover;
  overflow: hidden;
  width: 245px;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*** About section ***/

#about {
  width: 100%;
  background-color: rgb(202, 206, 202);
}

#about h2 {
  font-family: 'Lexend Tera', sans-serif;    
  font-size: 1.875rem;
  padding: 18px;
  text-transform: uppercase;
  color: #405570d2;
  text-decoration: underline;
}

#about .content-wrapper {
  width: 100%;
}

#about .half-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text span {
  font-size: 1.3em;
  font-weight: 800;
}

.about-text {
  text-align: center;
  width: 80%;
  border: 1px solid #405570d2;
  padding: 11px;
  background-color: #405570d2;
  border-radius: 15px;
  color: rgb(202, 206, 202);
  line-height: 20px;
}


#about-photo {
  border-radius: 15px;
}

#about img {
  border-radius: 50% !important;
  object-fit: cover;
  overflow: hidden;
  width: 300px;
}

/*** Skills and tools ***/

#skills {
  background-color: #405570d2;
  width: 100%;
}

#skills h2 {
  font-family: 'Lexend Tera', sans-serif;    
  font-size: 1.875rem;
  padding: 25px;
  text-transform: uppercase;
  color: rgb(202, 206, 202);
  text-decoration: underline;
}

#skills h3 {
  font-family: 'Lexend Tera', sans-serif;    
  font-size: 1.675rem;
  color: rgb(202, 206, 202);
  font-style: italic;
}

.language-wrapper ul {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

#skills ul li {
  padding: 1.25rem;
}

#skills i {
  color: #405570d2;
  font-size: 4em;
  border: 1px solid rgb(202, 206, 202);
  background-color: rgb(202, 206, 202);
  border-radius: 15%;
  padding: 2rem;
}

#skills i:hover {
  color: rgba(57, 71, 57, 0.863);
}

#skills p {
  font-size: 1.2rem;
  color: rgb(202, 206, 202);
}

/*** Projects ***/
#projects {
  background-color: rgb(202, 206, 202);
  width: 100%;
}

#projects p {
  color: #405570d2;
  font-weight: 600;
}

#projects p span {
  color: #405570d2;
  font-size: 1.1rem;
}

#projects h2 {
  font-family: 'Lexend Tera', sans-serif;    
  font-size: 1.875rem;
  padding: 18px;
  text-transform: uppercase;
  color: #405570d2;
  text-decoration: underline;
}

#projects h3 {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 1.675em;  
  color: #405570f3;
  margin-bottom: -2px;
}

#projects a {
  color: #405570f3;
}

.project-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.project-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  background-color:#f3f3f3d2; 
  border-radius: 11px;
  box-shadow: 0 3px 10px rgb(255, 255, 255); 
  padding: 20px;
  margin: 10px;
  width: 40%;
}

.project-piece figure {
  filter: drop-shadow(1px 2px 2px gray);
}

.project-piece figure:hover {
  transform: scale(1.02);
}

.project-piece figure img {
  border-radius: 5px;
  width: 100%;
}

.project-description {
  width: 70%;
}

@media only screen and (max-width: 640px) {
    /* Style adjustments for viewports that meet the condition */
  
    nav {
      padding: 1.5rem 1rem;
    }
  
    nav ul {
      position: fixed;
      background-color: rgb(255, 255, 255);
      flex-direction: column;
      top: 86px;
      left: 10%;
      width: 80%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;
    }
  
     nav ul li {
      margin: 8px;
    }
  
    .burger-menu {
      display: block;
    }
  
    nav ul.show {
      transform: translateX(0);
    }
  
    /**** Hero Section ****/

    #hero .half-content{
      flex-direction: column;
    }

    .hero-text {
      width: 18rem;
    }

    /**** About Section ****/

    #about .half-content{
      flex-direction: column;
    }

    .about-text {
      width: 18rem;
    } 

    /**** Skills section ****/
    #skills i {
      font-size: 6em;
    } 

  #skills ul li {
      padding: 1em 3em 0 3em;
    }

    /*** Projects Section ***/

  .project-wrapper {
    flex-direction: column;
  }  

  .project-piece {
    width: 85%;
  }

  .project-piece figure img {
      width: 95%;
    }
  
  .project-description {
      width: 50%;
    }
  }

  /*** Footer ***/
  footer .creator-cred {
    margin: 20px 0;
    font-weight: 600;
    font-size: 0.8rem;
  }

  footer .creator-cred span {
    letter-spacing: 2px;
  }